html {
  scroll-behavior: smooth;
}

body {
  // font-family: 'Roboto', sans-serif;
  font-family: 'Oxanium', sans-serif;
  font-weight: 500;
  color: $color1;
  line-height: 1.2;
  position: relative;
  scroll-behavior: smooth;
  // background: url(./../../images/bg.png) repeat #222;
  // background-size: 400px auto;
  background: linear-gradient(120deg, rgb(59, 58, 75) 0%, rgb(22, 20, 33) 100%);
  color: #cbcbcb;

  &.dark-mode {
    background-color: $color1;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  min-height: inherit !important;
}
